<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

  <div *ngIf="coinMonitored && coinDetails" class="mt-6 md:mt-10 mb-6 px-4 flex justify-between">
    <!-- Coin Name + Coin Image -->
    <div class="flex space-x-2 items-center">
      <img class="h-8 w-8 rounded-full" [attr.src]="coinDetails.image.small" [attr.alt]="coinMonitored.name + ' cover image'">
      <h1 class="text-3xl font-semibold text-gray-800">
        {{ coinMonitored.name || '-' }}
      </h1>
    </div>

    <!-- Coin Price -->
    <h3 class="text-4xl font-bold text-blue-600">{{ coinDetails.market_data.current_price.eur }} €</h3>
  </div>

  <!-- Chart Card -->
  <div class="border border-gray-300 shadow-sm rounded-md bg-white p-8">
    <div *ngIf="coinDetails">
      <div class="w-full flex justify-between font-medium text-sm mb-4">
        <div>
          <button (click)="changeGraphVisualization('24h')" [ngClass]="selectedHistoryVisualization === '24h' ? 'text-white bg-blue-500 hover:bg-blue-400' : 'text-gray-500 hover:text-gray-600 hover:bg-blue-100'" class="p-2 mr-2 rounded-md transition duration-75 ease-in-out">24h</button>
          <button (click)="changeGraphVisualization('7d')" [ngClass]="selectedHistoryVisualization === '7d' ? 'text-white bg-blue-500 hover:bg-blue-400' : 'text-gray-500 hover:text-gray-600 hover:bg-blue-100'" class="p-2 mr-2 rounded-md transition duration-75 ease-in-out">7d</button>
          <button (click)="changeGraphVisualization('30d')" [ngClass]="selectedHistoryVisualization === '30d' ? 'text-white bg-blue-500 hover:bg-blue-400' : 'text-gray-500 hover:text-gray-600 hover:bg-blue-100'" class="p-2 mr-2 rounded-md transition duration-75 ease-in-out">30d</button>
        </div>
        <div class="flex flex-col items-end">
          <div class="text-xs text-gray-500">Target Price</div>
          <div class="text-xl font-semibold text-blue-600">{{ coinMonitored.targetPrice }} €</div>
        </div>
      </div>
    </div>

    <!-- Chart -->
    <canvas #canvas id="cryptoChart" width="800" height="400"></canvas>
  </div>
</div>